$themePrimaryColor: #4B3F72;
$themePrimaryColorHover: #1F2041;
$themeSecondaryColor: #FFC857;

.btn-primary {
    background-color: $themePrimaryColor !important;
    border-color: $themePrimaryColor !important;
}

.btn-primary:hover {
    background-color: $themePrimaryColorHover !important;
    border-color: $themePrimaryColorHover !important;
}

.text-primary {
    color: $themePrimaryColor !important;
}

a {
    color: $themePrimaryColor;
}

.bg-dark {
    background-color: $themePrimaryColorHover !important;
}

// Font Famility
h1,
h2,
h3,
h4,
h5, 
h6 {
    color: $themePrimaryColor;
    font-family: 'Lato';  
}



// WordPress UI
.wb-card,
.widget_block {
    .card-body {
        padding: 15px 20px !important;
    }
    h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 11px;
    }

    .wp-block-search .wp-block-search__button {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-size: 14px;
        text-transform: uppercase;
        padding: 10px 15px;
        width: auto;
        line-height: 1;
        background-color: #4B3F72 !important;
        border-color: #4B3F72 !important;
        border-radius: 50px !important;
        color: #ffffff;
    }
    
    .wp-block-search .wp-block-search__input {
        flex-grow: 1;
        min-width: 3em;
        border: 1px solid #efefef;
        width: 100%;
        display: flex;
        padding: 5px 10px;
        border-radius: 4px;
    }

    ol,
    ul {
        list-style: none;
        padding-left: 0;
        li {
            padding: 5px 10px;
            font-size: 14px;
            border-top: 1px dashed #efefef;

            a {
                text-decoration: none;
            }
        }
    }
}

